/* reset.css*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]){
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset.css */
body {font-family: 'Manrope-Medium'!important;font-size: 14px;color:#333;}
a:hover {cursor: pointer;}
.wrp:before, wrp:after{content: "";display: table;clear: both;}
.pad {padding:0 20px;max-width: 1000px;margin: 0 auto;}
.flx {display: flex;flex-direction: column;flex-grow: 1;}
.d_c{margin: 0 auto;}
.f_h_c {align-items: center;}
.f_l {align-items: left;}
.f_r {align-items: right;}
.f_h_c {align-self: center;}
.a_h_c{justify-content: center;}
.frm {max-width:400px ;border:2px solid #4b40f5; margin-top: 50px;}
.pd_b {padding: 40px;}
.pd_m {padding: 20px;}
.pd_s {padding: 5px;}
.pd_n {padding: 0!important;}
.rd {border-radius: 18px;}
.tp {justify-self:flex-start ;}
.md {flex-grow: 1;}
.bt {justify-self: flex-end;}
h1 {font-size: 34px;font-weight: bolder;}
h3 {font-size: 18px; font-weight:bolder;letter-spacing: -1px;}
h2 {font-size: 18px;font-weight:bolder;margin:0}
h4 {font-size: 14px;color:#555;font-weight: bold;}
h5 {font-size: 14px;color:#999}
input,textarea {border:1px solid #ddd;padding: 10px;width:100%;border-radius: 8px;}
button {border:2px solid;border-radius: 20px;padding:5px 20px;margin:5px;}
button:hover {cursor: pointer;}
.cback:after {
    content:"";
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 60%;
    top:0;
    z-index: 0;
    background:radial-gradient(circle at 89.81% 34.96%, #ff2200, transparent 25%),radial-gradient(circle at 73% 3.46%, #3b35e6, transparent 41%),radial-gradient(circle at 83.06% 14.72%, #961ff0, transparent 13%),radial-gradient(circle at 54.50% 31.24%, #5fcfc8, transparent 39%),radial-gradient(circle at 22.5% 80.79%, #00ffee, transparent 34%),radial-gradient(circle at 29.31% 2.18%, #961ff0, transparent 63%),radial-gradient(circle at 99.5% 2.69%, #00eeff, transparent 100%),radial-gradient(circle at 84.88% 3.71%, #961ff0, transparent 100%),radial-gradient(circle at 11.06% 3.71%, #f022f0, transparent 88%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
    background-repeat: repeat-y;
    }
.flx_r{display: flex;flex-direction: row;}
.wbody {position: relative;}
.hm .cback:before {content: "";background:#fff;width:100%;height: 800px;transform: skewY(-12deg);border-radius: 50px;top: 400px;z-index:12;}
.sec1 {position: relative; z-index: 12;}
.cback{width:100%;height: 100%;display: block;}
.w{position: absolute;width:100%;max-width: 1000px;margin-top: 130px;}
.cback {
    width:100%;
    height: auto;
    padding-top:60%;
    bottom: 0;
    border: none;
    }
.wrp:before,.wrp::after{content: "";display: table;clear: both;}
.hmg .wback {height: 222px;}
.wback {width: 100%;height: 130px;position: relative;display: flex;align-items: flex-start;flex-direction: column;align-items:center;}
.wback svg {max-width: 100%;position: relative;}
.main {height: 100%;flex-grow: 1;padding: 10px;border-right: 1px solid #aaa;padding-right: 15px;margin-right: 5px;}
.dash > div {border:2px dashed #aaa;padding:15px 10px;margin: 5px; border-radius: 8px;background:#fff}
.dash > div:hover {cursor: pointer;box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);}
.wrapr {flex-direction: row;}
.dash {width: 150px;background:#f1f1f1}
.icns {margin-bottom: 8px;}
.icns > span {width: 20px;height: 20px;display: inline-block; padding: 5px;margin: 0 8px; border:1px solid #aaa;border-radius: 5px;}
.icns > span:hover {background-color:#ddd !important;cursor: pointer;}
#bld {background: url(./img/bold.png) no-repeat;background-size: 12px;background-position:center}
#cnt {background: url(./img/center.png) no-repeat;background-size: 12px;background-position:center}
#fnt {background: url(./img/font.png) no-repeat;background-size: 14px;background-position:center}
#itl {background: url(./img/italic.png) no-repeat;background-size: 12px;background-position:center;}
#lft {background: url(./img/left.png) no-repeat;background-size: 12px;background-position:center}
#rit {background: url(./img/right.png) no-repeat;background-size: 12px;background-position:center}
.main > div {border-bottom:1px solid #aaa;margin: 20px 0 0;padding: 0 0 10px;}
.main > div > textarea {margin:10px 0}
.sec1 {height: 550px;}
.tpan {position: absolute;z-index: 99;width: 100%;}
.tpan > div {position: relative;width:100%;margin:25px auto 0;}
.wlogo svg{max-width: 150px;}
nav {flex-grow:1;justify-content: flex-end;align-items: center;margin-top: 10px;}
nav span {font-size:12px}
nav > div {color:#fff}
nav > ul > li, nav > div > a, nav > div > div  {padding: 5px;margin: 0 15px;color:#fff;}
nav > ul,nav > .flx_r {margin-left: auto;margin-right: auto;font-size: 13px;}
section h1 {z-index: 1;position: relative;}
section {position: relative;}
.wbody > div {border-radius: 50px;border-radius: 50px;width: 100%;margin: 0 auto;}
/* blog styles*/
.b_feed {width: 75%;padding: 50px 20px 0 0;flex-wrap: wrap;}
.img img {position: absolute;top:0}
.img {padding-top:100%;background-color: #ebebeb;}
.panel_r {padding: 50px 30px 20px 10px;width:25%}
.hmg .sec1 h1 {font-size: 4.2rem;font-family: 'Manrope-ExtraLight';letter-spacing: 5px;line-height: 5rem;color:#222;}
.t_slide {width: 60%;}
.sec_right{width: 40%;}
.wbody {margin:0 auto;}
.t_desc span {font-size: 15px;line-height: 20px;font-family: sans-serif;}
.t_desc p{margin-top: 20px;}
.t_desc {margin-top: 24px;}
.prev {margin-right: 50px;}
.navigation {margin-top: 20px;}
.navigation > button {border-color:#7239F4;background: #fff;}
.navigation > button:hover {background-color:#7239F4;color:#fff}
.back_purple:after {content:"";background: #7239f4;height: 50px;transform: skew(0,12deg);width:100%;bottom: -22px;position:absolute;z-index: -1;}
.wbody:before {
    content:"";
    width:100%;
    position:absolute;
    background:#fff;
    left:0;
    right:0;
    height: 700px;
    top:0;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.hmg .wbody:before {transform:skew(0,-12deg);margin-top: 103px;}
.back_purple {
    width: 48%;
    background: #7239F4;
    height: 280px;
    transform: skew(0,-12deg);
    margin-top: 20px;
    position: relative;
}

.sec_right {
    align-items: end;
}

.img_purple {
    transform: skew(0,12deg);
}
.hmg .desc {z-index: 1;font-size: 12px;line-height: 15px;margin-left: 60px;margin-top: 30px;}

.r_more {margin-top: 20px;float: right;border-color: #1CC5FF; background-color: #1CC5FF;color:#fff;font-size: 16px;}
.r_more:hover {background-color: #22b6e7;}
.shape {position: relative;z-index: 1;max-width: 1000px;margin: 0 auto;}
.shape .h2 {margin:20px 0 0 0}
.shape svg {max-width: 100%;}
.img_purple {width:230px;margin-left:-27px;margin-top:-50px}
.sec2{position: relative;}
.sec2:before {transform: skew(0,7deg);border-bottom-left-radius:0 !important;}
.sec2:after {top: 150px;transform: skew(0,-6deg);border-top-left-radius:0 !important;}
.sec2:before,.sec2:after {content:"";position:absolute;height:500px;left:0;right:0;background:#171728;;border-radius:50px;}
.grid_svg {position:relative;display: grid;z-index:99;padding: 35px 35px;margin-left: 40px;margin-top: 40px;grid-template-columns: 1.1fr 0.9fr 1.1fr;grid-template-rows: 1fr 1fr;gap: 30px 50px;grid-auto-flow: row;grid-template-areas:
". three ."
". three .";}  
  .grid_svg > div {position:relative;max-width:300px;display:flex;align-self:flex-end;transition:.3s}
  
  .grid_svg > .three {
    grid-area: three;
    display: flex;
    justify-self: center;
    align-self: center;}
#Path_10675,#Path_10489,#Path_10432,#Path_10848,#Path_10846,#Path_11225,#Path_11227,#Path_11224,#Path_11226 {fill:rgb(0 0 0 / 20%)}
.grid_svg span {position:absolute;color:#fff;font-size: 16px;}
.grid_svg .one span {top: 0;}
.grid_svg .two span {top: 50px;left:-20px;}
.grid_svg .three span {bottom: -10px;left: 70px;}
.grid_svg .four span {bottom: 0;right: 50px;}
.grid_svg .five span {bottom: 10px;left: 0;}
.shape > svg {position:absolute;top: 100px;}
.grid_svg > div #Group_4981,.grid_svg > div #Group_4982,.grid_svg > div #Path_11969,.grid_svg > div #Path_11973,.grid_svg > div #Path_11975 {opacity:.5}
.grid_svg > div:hover #Group_4981,.grid_svg > div:hover #Group_4982,.grid_svg > div:hover #Path_11969,.grid_svg > div:hover #Path_11973,.grid_svg > div:hover #Path_11975 {opacity:.2}
.shape {position:relative;}
.grid_svg > div svg{transition:.3s}
.grid_svg > div:hover svg {transform:translateY(-10px);}
.grid_svg > div > svg {transition:.3s;max-height: 200px;}
.ident {height: 600px;width: 100%;max-width: 1000px;padding: 20px;margin: 150px auto 0;z-index: 1;}
.sec3{background: #7239F4;position:relative;z-index: -1;height: 1000px;}
.sec3:before{content:"";position:absolute;height:200px;top:-200px;left:0;right:0;background: #7239F4;}
.block_left,.block_right{width: 50%;}



@media only screen and (min-width:1200px){
    html {zoom:1.2}
}
.wbody > div {position:relative}
.grids {padding: 0 20px;margin:0 auto;width: 100%;height: 100%;position: absolute;}
.hmg .grids {transform:skew(0,-12deg);top: 103px;}
.grids > div {height:100%;width:19.3%;border:1px dashed rgba(172, 172, 172, 0.4);border-top:0;border-bottom:0;}
.grid_wrap {position:absolute;left:0;right:0;top: 0;bottom: 0;max-width:1000px;z-index: 1;opacity: .99;margin: 0 auto;overflow:hidden;}
.grids > div:nth-child(2),.grids > div:nth-child(4) {border:0}
.push{flex-grow: 1;}

.hmg .h2{
    display: flex;
    width: 40%;
    padding: 10px 0 10px 40px;
    background: #fff;
    border-radius: 30px;
    margin-bottom: 40px;
}
.h2:after {content:"";width:80px;height:2px;background:#fff;display:flex;align-self:center;margin-left:50px}
.sec2 .h2:after {background: #000;}
.sec4 .h2:after{background:#000}
.sec4 .h2 {width:45%}
.vid iframe {width: 100%;}
.sec4 {margin-top: -1000px;}
.icn svg {width: 32px;}
.icn {margin-right:20px}
.block_right {padding-left:80px} 
.block_right span {line-height:25px;font-size:16px}
.arc {width: 19.3%;height:340px;background: #4AFFFF;border-top-left-radius: 100px;border-top-right-radius: 100px;}
.arc.cntr{background:#F7AEF8}
.arc_img {transform: scale(1.05);background-image: url(./img/girl_image.png);background-repeat: no-repeat;background-size: 110%;background-position:center bottom 8.5px;height: 100%;}
.sec5 .h2 {background: #7239F4;color:#fff}
.sec5 > div {position:relative;z-index:5;}
.sec5 {background:#f4f4f4;}
.sec5:before {
    content:"";
    width:100%;
    position:absolute;
    background:#f4f4f4;
    left:0;
    right:0;
    height: 300px;
    top: -30px;
    transform: skew(0,-6deg);
    border-radius: 50px;
    margin-top: -100px;
    z-index:-1;
}
.sec6 {background-color: #7239F4;margin-top: 0;}
.sec6:before {content:"";position:absolute;background:#f4f4f4;top:0;height:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;left:0;right:0;}
.a_us {padding-bottom: 40px;display: block;font-size: 16px;line-height: 20px;max-width: 70%;}
.a_des {display:block;margin-top:40px;font-size: 16px;line-height: 20px;margin-left: 50px;}
.a_ic {width:50%;justify-content: end;align-items: flex-end;}
.a_ic svg {width: 50px;}
.wcard {position: relative;z-index: 1;}
.wc_bk {height: 350px;background:#C8D1EE;width: 350px;position: absolute;border-top-right-radius: 100px;border-bottom-left-radius: 100px;}
.wc {position: relative;margin-left: 50px;}
.blocks_wrap {padding-top:200px}
.wc img {margin-top:-30px;max-width:480px}
.card_des {padding-top:60px;}
.card_des span {max-width:50%;line-height: 20px;}
.orderCard {background:#7239f4;color:#fff;margin-left:100px;flex-grow: 1;height: 40px;}
.orderCard:hover {background:#602ed5}
.block_right {margin-right:calc(50% - 500px)}
.block_right h3 {font-size:24px;padding-bottom:10px;color:#111}
.block_right h4 {padding-bottom:20px;color:#111}
.block_right h4 span {color:#fff;font-size:20px;padding-left:10px}
.block_right ul li {padding-bottom:10px;display:flex;flex-direction:row;line-height:20px}
.block_right ul li:before {content:"";min-width:50px;height:8px;border-radius:10px;margin-right:50px;background:#fff;display:inline-block;}
.wb {background-color: #fff;margin-right: calc(100%/2 - 960px/2);padding-left: calc(100%/2 - 960px/2);padding-top: 100px;padding-bottom: 100px;padding-right: 150px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;margin-top: 80px;}
.wblog{position: relative;z-index: 1;}
.b_image img {position:absolute;top:0;}
.b_left {width:45%;min-width:45%;margin-right: 10px;}
.b_left .b_image {padding-top:60%;}
.b_image {background:#7239f4;border-radius:8px}
.b_right .b_image {min-width: 40%;margin-right: 20px;margin-bottom: 10px;}
.b_headng {font-size:20px;padding:10px 0;line-height:24px}
.b_desc {padding-bottom:20px;font-size:12px;line-height:14px;color:#b3b3b3}
.b_date {font-size:10px;padding-bottom:15px;color:#808080;display:block}
.b_read {color:#7239F4;border-bottom:2px solid transparent;font-size:12px;transition:.1s}
.b_read:hover {border-bottom:2px solid;cursor:pointer}
.b_top {min-height:50%}
footer {position:relative;}
footer:after {content:"";position:absolute;background:#7239f4;top: -100px;left:0;right:0;bottom:0px;}
footer > div {background:#f4f4f4;position:relative;z-index:1;height: 400px;max-width: 1150px;margin: 100px auto 0;border-top-left-radius: 50px;border-top-right-radius: 50px;}
footer > div > div {max-width: 1000px;margin: 0 auto;overflow: hidden;}
.map {margin: 50px 0 0;}
.map iframe {border-top-left-radius: 30px;border-top-right-radius: 30px;}
.footer_bot {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.2fr;
    grid-column-gap: 20px;
    margin-top: 30px;
    }
.subscribe > form {height:40px}
.subscribe input,.subscribe button {border:0;border-radius:0;margin:0;padding:0;box-shadow:none;font-size:12px}
.subscribe button {background:#7239f4;width:200px;color:#fff;border:3px solid #7239f4;}
.subscribe button:hover {background:#652ce7;}
.subscribe input {padding:0 20px;border:3px solid #7239f4;border-right:0}
.subscribe input:focus {box-shadow:none;outline:none}
.subscribe {margin-bottom:20px;margin-right: 100px;}
footer h4 {font-size:16px;font-weight:400;padding-bottom: 15px;color:#171728;}
footer span {line-height:18px;font-size:12px;color: #777;}
footer .about {margin-right:100px;}
.iset {margin:10px 0 15px}
.iset svg {padding-right:12px}
.dl svg {max-width:100px;max-height: 50px;}
.contact > div {padding-bottom:15px;padding-top:5px}
.no_hmg > div{background:#7239f4}
.no_hmg h4 {color:#fff}
.no_hmg span {color:#000}
.no_hmg .iset svg path{stroke:#fff;stroke-width:2px}
.no_hmg .dl svg path{fill:#fff}
.no_hmg input {background:#7239f4;border-color: #fff;}
.no_hmg .subscribe button {background:#fff;color:#000;border-color: #fff;}
.no_hmg .subscribe > form {border-color:#fff}
.no_hmg a {color:#fff}
.no_hmg:after {background: #fff;}
.no_hmg ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.cript {position: relative;z-index: 1;padding-top: 100px;}
.no_hmg :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.no_hmg ::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 28px;
}
.h2 {
    font-size: 30px;
    line-height: 1.2;
}

.script_img {max-width: 800px; margin:20px 0;}
.wrp {position: relative;z-index: 1;}
.b_feed {display: grid;grid-template-columns: 1fr 1fr;grid-row-gap:20px;grid-column-gap: 20px;}
.feed_n {margin-top: 20px;}
.right_hdng {font-size: 20px;font-weight: bold;}
.h1h2 {font-size: 20px;padding-top:60px}
.grid_svg a svg {max-height:180px;margin-left:20px}
.sec_page {padding-top: 60px;position: relative;z-index: 1;}
.h1_heading {font-size: 20px;padding-bottom: 20px;}
p{padding: 30px 0 0;font-size: 16px;line-height: 20px;}
.r_col .dl_app a{display: flex;}
.r_col {width: 19.2%;margin-top: 80px;}
.l_col {padding-right: 30px;}
.r_col .dl_app svg {height:65px;margin-bottom:10px}
.section2 > .pad {flex-direction: row-reverse;color:#fff;margin-top: 40px;}
.section2:before {content:"";position:absolute;background:#171728;top:0;left:0;right:0;bottom:0;border-top-left-radius: 50px;border-top-right-radius: 50px;}
.wallycard .section2:before {background:#7239f4}
.identomat .no_hmg:after,.transfer .no_hmg:after{background:#171728}
.section2 .l_col {padding:0;margin-left:22%}
.section2 .dl_app svg path {fill:#97F9F9}
/*.drop_down {display: none;}*/
.drop_down li > div {padding-right:20px}
.drop.down > .drop_down {display: block;position: absolute;}
.drop {position:relative;cursor: pointer;}
.drop_down {display: none;}
.drop_down {/* left: -140px; *//* right: -140px; */padding-top: 15px;z-index: 99;position: absolute;transition: .3s;opacity:0;transform: translateX(-50% );margin-left: calc(50% - 10px);}
.drop_down > div{background:#fff;box-shadow:0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);color:#000;border-radius:8px;display: flex;height: 100%;position: relative;padding: 32px 32px 20px;}
.drop_down > div:before {content:"";position:absolute;top:-5px;left:50%;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #fff;}
.drop_down ul > li {display:flex;flex-direction:row;flex-grow: 1;}
.drop_down li svg {width: 20px;}
.drop_down li:first-child svg{padding: 2px;}
.drop_down li > a{padding-bottom: 15px;line-height: 20px;font-size: 13px;white-space: nowrap;}
.app_hor svg{height:60px;width:180px;margin-top:30px;margin-right:20px}
.offer .no_hmg:after,.offer .wbody > div{background:#97F9F9}
.col_r svg{max-width:450px}
.margin {height:40px}
section ul > li {line-height:25px;list-style:disc;margin-left:18px}
.team .arc {background:none;position:relative}
.team .head {background:#f7aef8}
.team .arc.head:before {content:none;}
.team .arc:before {content:"";position:absolute;background:#4affff;bottom:0;left:0;right:0;height:270px;border-top-right-radius:100px;border-top-left-radius:100px}
.nm {font-size: 20px;margin-top: 5px;}
.cv {font-size: 12px;color:#4d4d4d;margin-top:12px;}
.team_des {margin-top: 10px;}
.team {margin-bottom: 140px;}
.head .nm {color:#7239F4}
.grid_cont {display:grid;grid-template-columns:1fr 1fr}
.c_u {display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 550px;
    margin-top:30px;
    margin-bottom:50px;
}
.c_u svg {height:25px;max-width:25px;margin-bottom:20px}
.c_u {font-size:12px;line-height:18px}
.mp_big iframe {max-width:100%;margin-bottom:20px}
.adr {display:grid;grid-template-columns:1fr 1fr 1fr;max-width:550px;margin-bottom: 30px;}
.contact .r_col {margin-top: 0;}
.adr > div > span {border-bottom:2px solid #7239F4;padding-bottom:10px}
.transfer .section1 {background:#97F9F9;border-top-right-radius:50px;border-top-left-radius:50px;padding-bottom:100px}
.transfer .section2 {margin-top:-100px;}
.transfer .col_r svg {max-width: 350px;margin: 0 auto;}
.transfer .col_r {justify-content: center;}
.order .section1 {background:#97F9F9;}
.order_c {margin-top:-50px;background:#fff;border-top-left-radius: 50px;border-top-right-radius: 50px}
.joinus {display: flex;}
.joinus svg {height: 100%;}
.pd0{padding:0 !important}
.mr0{margin: 0 !important;}
.inpt {display:flex;width:50%;float:left;margin-bottom: 30px;}
.textar {margin-right: 30px;margin-bottom: 30px;}
.textar textarea {resize:none;max-width:100%;height:150px;;border-color:#171728;border-radius:12px}
.inpt input {margin-right: 30px;border-color:#171728;border-radius:12px;line-height: 20px;}
.submit button {margin:0 auto;display:block;width:45%;color:#fff;background:#7239F4;border-color:#7239F4;line-height:20px}
button:hover,[type="file"]::-webkit-file-upload-button:hover {-webkit-backface-visibility: visible;
    backface-visibility: visible;
    text-decoration: none;
    outline: 0;
    -webkit-filter: brightness(80%) saturate(80%) contrast(140%);
    filter: brightness(90%) saturate(90%) contrast(140%);
    -webkit-backface-visibility: hidden;
}input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

[type="file"] {
  padding:5px 6px;
}
[type="file"]::-webkit-file-upload-button,[type="file"]::file-selector-button,[type="file"]::-ms-browse {
  background: #7239F4;
  border:0;
  border-radius:10px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 10px 40px;
  margin-right:20px;
}

/* The container 
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border: 1px solid;
    background: #eee;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-checkbox input:checked ~ .checkmark {
    background-color: #7239f4;
}

.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/
.container-checkbox input {width:20px; float: left;margin-top: 7px;}
.checkb {line-height:25px;font-size:12px}
.pur {color:#7239F4 !important}
.cmnt {margin-bottom: 20px;max-width: 600px;line-height: 20px;color:#808080;font-size: 13px;}
.inp_lab {width: calc(50% - 30px);margin-right: 30px;display:block;}
label.cmnt {display: block;}
.order__card{display: block;
padding-bottom: 20px;
font-size: 20px;
font-weight: bold;
color: #7239f4;}

/* range slider */
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #4AFFFF;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
    height: 10px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb:before {
    content:"";
    width:100px;
    background:#000;
    position:absolute;
    left:0;
  }
  .slider::-webkit-slider-thumb {
    position:relative;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius:50px;
    background: #7239f4;
    cursor: pointer;
    z-index:900;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  /* end range slider */

.loan_val {float:right}
.slidecontainer p {margin-bottom:10px}
.l_f {padding:5px;font-size:10px}
.l_fb {padding-top: 10px;}
.calc {margin:30px 0;width: 53%;height:48px;border-radius:100px;font-size:20px;line-height:20px;color:#fff;background:#7239f4;}
.new_loan {display:block;height:48px;border-radius:100px;font-size:20px;line-height:48px;color:#fff;background:#1CC5FF;text-align:center;text-decoration:none}
.loan_sub:hover {background:#1ca9d9}
.loan_hd {background:#7239f4;}
.loan_hd:hover {cursor: auto;}
.loan .grid_cont {grid-template-columns: 1.5fr 1.02fr;}
.calc_sec {padding:0 20px}
.grid_cont_r {
    display: grid;
    grid-template-columns: 1fr .68fr;
}
.grid_cont_r1 {
    display: grid;
    grid-template-columns: .68fr 1fr;
}
.wallycard .section2 > .pad {margin-top:0;}
.wallycard .col_r {position:relative;justify-content: end;}
.wallycard .col_r:after {content:"";position:absolute;height:150px;left:0;right:0;bottom:0;background:#C8D1EE;z-index:-1;border-top-right-radius:50px;border-top-left-radius:50px}
.wallycard .card_img {margin-bottom: 50px;position:relative;}
.l_1 {position:relative;}
.l_1 > div:after {content:"";background:#97F9F9;position:absolute;top:75px;bottom:50px;left:0;right:50px;border-bottom-left-radius:50px;border-top-right-radius:50px;}
.b_b {background:#7239f4 !important}
.b_b:hover {background:#6d3ae1 !important}
#mnav{display:none}
.menu > div {position:absolute;left: 0;top:0px;margin: 0 15px;box-sizing: content-box;padding-bottom:20px;background:#fff;border-radius: 8px;box-shadow:0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);}
.menu ul {display: grid;grid-template-columns: 1fr 1fr;padding: 0 24px;line-height: 20px;}
.menu ul li {display: flex;flex-direction:row;padding: 6px;}
.menu ul li a {line-height:26px}

.ico1 {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22.864' height='22.864' viewBox='0 0 22.864 22.864'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient-01' x1='-0.062' y1='1.042' x2='0.879' y2='0.134' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%237239f4'/%3E%3Cstop offset='1' stop-color='%23f7aef8'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_3567' data-name='Group 3567' transform='translate(-2474.27 -166.871)'%3E%3Crect id='Rectangle_202' data-name='Rectangle 202' width='22.864' height='22.864' rx='3.189' transform='translate(2474.27 166.871)' fill='url(%23linear-gradient-01)'/%3E%3Cg id='Group_3566' data-name='Group 3566'%3E%3Cpath id='Path_10310' data-name='Path 10310' d='M2477.348,182.051c0-.433,0-.866,0-1.3,0-.309.13-.526.449-.532.345-.007.482.219.48.548,0,.742,0,1.484,0,2.226a2.69,2.69,0,0,0,2.729,2.738c.464.005.928,0,1.392,0,.328,0,.552.13.542.482-.009.328-.232.454-.534.445a15.973,15.973,0,0,1-2.171-.1,3.55,3.55,0,0,1-2.886-3.446C2477.342,182.762,2477.348,182.406,2477.348,182.051Z' fill='%23fff'/%3E%3Cpath id='Path_10311' data-name='Path 10311' d='M2494.1,182.06a14.832,14.832,0,0,1-.125,1.706,3.575,3.575,0,0,1-3.4,2.891c-.509.015-1.02,0-1.53.006-.318,0-.569-.1-.574-.455-.005-.385.26-.481.6-.476.48.006.959.01,1.438,0a2.691,2.691,0,0,0,2.63-2.65c.013-.758.007-1.516,0-2.274,0-.343.112-.6.488-.586.348.012.45.266.444.585-.008.418,0,.835,0,1.253Z' fill='%23fff'/%3E%3Cpath id='Path_10312' data-name='Path 10312' d='M2477.314,174.576a14.906,14.906,0,0,1,.118-1.705,3.569,3.569,0,0,1,3.512-2.922c.494-.005.989,0,1.484,0,.308,0,.514.14.513.465s-.212.46-.518.462c-.5,0-.99-.007-1.484,0a2.688,2.688,0,0,0-2.66,2.664c-.013.742-.008,1.484,0,2.226,0,.33-.076.61-.46.615s-.479-.264-.472-.6c.007-.4,0-.8,0-1.206Z' fill='%23fff'/%3E%3Cpath id='Path_10313' data-name='Path 10313' d='M2494.06,174.568q0,.65,0,1.3c0,.308-.14.517-.461.519s-.465-.2-.465-.514c0-.68,0-1.361,0-2.041a2.716,2.716,0,0,0-2.978-2.954c-.4,0-.8,0-1.206,0a.434.434,0,0,1-.485-.448.417.417,0,0,1,.456-.471,14.939,14.939,0,0,1,2.263.093,3.543,3.543,0,0,1,2.875,3.407C2494.068,173.826,2494.06,174.2,2494.06,174.568Z' fill='%23fff'/%3E%3Cpath id='Path_10314' data-name='Path 10314' d='M2485.691,183.137a4.431,4.431,0,0,1-2.956-1.158c-.239-.215-.422-.463-.164-.754s.536-.159.8.071a3.435,3.435,0,0,0,4.683-.016c.253-.218.505-.342.767-.072s.132.509-.1.724A4.422,4.422,0,0,1,2485.691,183.137Z' fill='%23fff'/%3E%3Cpath id='Path_10315' data-name='Path 10315' d='M2486.559,177.428c0,.54.04,1.085-.01,1.621a1.237,1.237,0,0,1-1.257,1.129c-.307.009-.57-.1-.542-.414a.669.669,0,0,1,.421-.482c.42-.065.493-.3.492-.643,0-.835,0-1.67,0-2.505,0-.339.058-.65.483-.637.393.012.447.314.446.632,0,.433,0,.866,0,1.3Z' fill='%23fff'/%3E%3Cpath id='Path_10316' data-name='Path 10316' d='M2483.029,176.625a2.293,2.293,0,0,1-.016.69c-.055.169-.267.412-.392.4-.174-.015-.456-.218-.474-.367a6.3,6.3,0,0,1,0-1.478.563.563,0,0,1,.432-.354.7.7,0,0,1,.433.417,2.107,2.107,0,0,1,.017.69Z' fill='%23fff'/%3E%3Cpath id='Path_10317' data-name='Path 10317' d='M2488.376,176.614a2.333,2.333,0,0,1,.016-.691c.055-.169.248-.391.4-.4s.447.188.46.318a7.588,7.588,0,0,1,0,1.567c-.014.129-.3.311-.468.315-.129,0-.334-.213-.378-.368a2.784,2.784,0,0,1-.017-.737Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
.ico2 {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32.837' height='28.427' viewBox='0 0 32.837 28.427'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient-02' x1='0.098' y1='1.315' x2='0.892' y2='0.142' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%231cc5ff'/%3E%3Cstop offset='1' stop-color='%23f7aef8'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2-02' x1='50.4' y1='-35.49' x2='51.112' y2='-36.323' xlink:href='%23linear-gradient'/%3E%3ClinearGradient id='linear-gradient-3-02' x1='-0.192' y1='1.779' x2='0.887' y2='-0.455' xlink:href='%23linear-gradient'/%3E%3ClinearGradient id='linear-gradient-4-02' x1='-0.88' y1='3.564' x2='1.563' y2='-2.371' xlink:href='%23linear-gradient'/%3E%3C/defs%3E%3Cg id='Group_3568' data-name='Group 3568' transform='translate(-2469.307 -211.824)'%3E%3Cpath id='Path_10318' data-name='Path 10318' d='M2499.889,224.689h-4.05a2.247,2.247,0,0,1-1.389,1.759l-16.159,6.413V238a2.255,2.255,0,0,0,2.255,2.255h19.343a2.256,2.256,0,0,0,2.255-2.255V226.944A2.256,2.256,0,0,0,2499.889,224.689Zm.2,12.621h-16.61a.9.9,0,0,1,0-1.8h16.61a.9.9,0,0,1,0,1.8Z' fill='url(%23linear-gradient-02)'/%3E%3Cpath id='Path_10319' data-name='Path 10319' d='M2500.089,235.514h-16.61a.9.9,0,0,0,0,1.8h16.61a.9.9,0,0,0,0-1.8Z' fill='%23fff'/%3E%3Cpath id='Path_10320' data-name='Path 10320' d='M2478.112,229.768a.9.9,0,0,1-.662-1.669l.841-.334v-.821a2.255,2.255,0,0,1,2.255-2.255h5.5l6.847-2.717a.9.9,0,0,1,.662,1.669l-2.642,1.048h4.93a2.242,2.242,0,0,0-.125-1.169l-4.077-10.272a2.253,2.253,0,0,0-2.927-1.264l-17.98,7.135a2.254,2.254,0,0,0-1.263,2.927l4.076,10.273a2.254,2.254,0,0,0,2.928,1.264l1.82-.722V229.7Z' fill='url(%23linear-gradient-2-02)'/%3E%3Cpath id='Path_10321' data-name='Path 10321' d='M2495.839,224.689h-4.93l-12.618,5.008v3.164l16.159-6.413A2.247,2.247,0,0,0,2495.839,224.689Z' fill='url(%23linear-gradient-3-02)'/%3E%3Cpath id='Path_10322' data-name='Path 10322' d='M2495.839,224.689h-4.93l-12.618,5.008v3.164l16.159-6.413A2.247,2.247,0,0,0,2495.839,224.689Z' fill='%237239f4'/%3E%3Cpath id='Path_10323' data-name='Path 10323' d='M2480.546,224.689a2.255,2.255,0,0,0-2.255,2.255v.821l7.751-3.076Z' fill='url(%23linear-gradient-4-02)'/%3E%3Cpath id='Path_10324' data-name='Path 10324' d='M2480.546,224.689a2.255,2.255,0,0,0-2.255,2.255v.821l7.751-3.076Z' fill='%237239f4'/%3E%3Cpath id='Path_10325' data-name='Path 10325' d='M2494.046,222.479a.893.893,0,0,0-1.157-.507l-6.847,2.717h4.867l2.642-1.048A.893.893,0,0,0,2494.046,222.479Z' fill='%23fff'/%3E%3Cpath id='Path_10326' data-name='Path 10326' d='M2477.45,228.1a.9.9,0,0,0,.662,1.669l.179-.071v-1.932Z' fill='%23fff'/%3E%3Cpath id='Path_10327' data-name='Path 10327' d='M2478.291,227.765V229.7l12.618-5.008h-4.867Z' fill='%234affff'/%3E%3C/g%3E%3C/svg%3E");}
.ico3 {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32.875' height='23.029' viewBox='0 0 32.875 23.029'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient-03' x1='218.209' y1='434.944' x2='219.099' y2='433.421' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%231cc5ff'/%3E%3Cstop offset='1' stop-color='%2397f9f9'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2-03' x1='-0.11' y1='1.625' x2='1.159' y2='-0.717' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%237239f4'/%3E%3Cstop offset='1' stop-color='%23f7aef8'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-3-03' x1='310.539' y1='667.39' x2='311.808' y2='665.049' xlink:href='%23linear-gradient-2'/%3E%3C/defs%3E%3Cg id='Group_3569' data-name='Group 3569' transform='translate(-2469.222 -262.258)'%3E%3Cpath id='Path_10328' data-name='Path 10328' d='M2501.6,276.221l-4.958-3.648-2.1-1.547v3.791h-13.55v2.364a1.229,1.229,0,0,1-1.957.99l-2.245-1.652v5.174h13.549v2.363a1.229,1.229,0,0,0,1.958.99l4.347-3.2,4.958-3.648A1.228,1.228,0,0,0,2501.6,276.221Z' fill='%237239f4'/%3E%3Cpath id='Path_10329' data-name='Path 10329' d='M2488.1,272.728h2.229v-2.363a1.229,1.229,0,0,1,1.958-.99l2.245,1.651v-5.174h-13.55v-2.363a1.229,1.229,0,0,0-1.957-.99l-4.347,3.2-4.959,3.648a1.229,1.229,0,0,0,0,1.98l4.959,3.648,2.1,1.546v-3.791Z' fill='url(%23linear-gradient-03)'/%3E%3Cpath id='Path_10330' data-name='Path 10330' d='M2480.986,277.181v-2.364h13.55v-3.791l-2.245-1.651a1.229,1.229,0,0,0-1.958.99v2.363h-13.549v3.791l2.245,1.652A1.229,1.229,0,0,0,2480.986,277.181Z' fill='url(%23linear-gradient-2-03)'/%3E%3Cpath id='Path_10331' data-name='Path 10331' d='M2480.986,277.181v-2.364h13.55v-3.791l-2.245-1.651a1.229,1.229,0,0,0-1.958.99v2.363h-13.549v3.791l2.245,1.652A1.229,1.229,0,0,0,2480.986,277.181Z' fill='url(%23linear-gradient-3-03)'/%3E%3C/g%3E%3C/svg%3E ");}
.ico4 {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32.79' height='20.681' viewBox='0 0 32.79 20.681'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient-04' x1='-0.203' y1='1.292' x2='1.139' y2='-0.22' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%231cc5ff'/%3E%3Cstop offset='1' stop-color='%2397f9f9'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2-04' x1='-0.469' y1='4.218' x2='0.921' y2='-0.981' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%231cc5ff'/%3E%3Cstop offset='1' stop-color='%2397fbd1'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-3-04' x1='-0.311' y1='0.5' x2='1.226' y2='0.5' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%237239f4'/%3E%3Cstop offset='1' stop-color='%234affff'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-4-04' x1='-0.226' y1='3.307' x2='1.164' y2='-1.891' xlink:href='%23linear-gradient-2'/%3E%3ClinearGradient id='linear-gradient-5-04' x1='-0.311' y1='0.5' x2='1.226' y2='0.5' xlink:href='%23linear-gradient-3'/%3E%3ClinearGradient id='linear-gradient-6-04' x1='-0.095' y1='3.112' x2='1.089' y2='-2.087' xlink:href='%23linear-gradient-2'/%3E%3ClinearGradient id='linear-gradient-7-04' x1='0.012' y1='0.5' x2='1.32' y2='0.5' xlink:href='%23linear-gradient-3'/%3E%3C/defs%3E%3Cg id='Group_3570' data-name='Group 3570' transform='translate(-2469.307 -311.167)'%3E%3Cpath id='Path_10332' data-name='Path 10332' d='M2480,318.246a1.463,1.463,0,0,1-1.464-1.464v-.891a1.463,1.463,0,0,1,1.464-1.463h18.6v-1.189a2.1,2.1,0,0,0-2.135-2.072h-25.019a2.1,2.1,0,0,0-2.135,2.072v16.536a2.1,2.1,0,0,0,2.135,2.073h25.019a2.1,2.1,0,0,0,2.135-2.073v-1.188H2480a1.464,1.464,0,0,1-1.464-1.464v-.891a1.463,1.463,0,0,1,1.464-1.464h18.6v-6.522Zm14.127,5.17h-20.638a1.464,1.464,0,0,1-1.464-1.463v-.891a1.464,1.464,0,0,1,1.464-1.464h20.638a1.463,1.463,0,0,1,1.463,1.464v.891A1.463,1.463,0,0,1,2494.123,323.416Z' fill='url(%23linear-gradient-04)'/%3E%3Cpath id='Path_10333' data-name='Path 10333' d='M2500.633,318.246a1.463,1.463,0,0,0,1.464-1.464v-.891a1.463,1.463,0,0,0-1.464-1.463H2498.6v3.818Z' fill='%23f7aef8'/%3E%3Cpath id='Path_10334' data-name='Path 10334' d='M2478.532,315.891v.891a1.463,1.463,0,0,0,1.464,1.464h18.6v-3.818H2480A1.463,1.463,0,0,0,2478.532,315.891Z' fill='url(%23linear-gradient-2-04)'/%3E%3Cpath id='Path_10335' data-name='Path 10335' d='M2478.532,315.891v.891a1.463,1.463,0,0,0,1.464,1.464h18.6v-3.818H2480A1.463,1.463,0,0,0,2478.532,315.891Z' fill='url(%23linear-gradient-3-04)'/%3E%3Cpath id='Path_10336' data-name='Path 10336' d='M2500.633,328.587a1.464,1.464,0,0,0,1.464-1.464v-.891a1.463,1.463,0,0,0-1.464-1.464H2498.6v3.819Z' fill='%23f7aef8'/%3E%3Cpath id='Path_10337' data-name='Path 10337' d='M2478.532,326.232v.891a1.464,1.464,0,0,0,1.464,1.464h18.6v-3.819H2480A1.463,1.463,0,0,0,2478.532,326.232Z' fill='url(%23linear-gradient-4-04)'/%3E%3Cpath id='Path_10338' data-name='Path 10338' d='M2478.532,326.232v.891a1.464,1.464,0,0,0,1.464,1.464h18.6v-3.819H2480A1.463,1.463,0,0,0,2478.532,326.232Z' fill='url(%23linear-gradient-5-04)'/%3E%3Crect id='Rectangle_203' data-name='Rectangle 203' width='23.565' height='3.818' rx='1.464' transform='translate(2472.021 319.598)' fill='url(%23linear-gradient-6-04)'/%3E%3Crect id='Rectangle_204' data-name='Rectangle 204' width='23.565' height='3.818' rx='1.464' transform='translate(2472.021 319.598)' fill='url(%23linear-gradient-7-04)'/%3E%3C/g%3E%3C/svg%3E ");}
.ico5 {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27.66' height='25.393' viewBox='0 0 27.66 25.393'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='100.726' y1='56.426' x2='101.726' y2='56.426' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%231cc5ff'/%3E%3Cstop offset='1' stop-color='%2397f9f9'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='200.461' y1='112.852' x2='202.461' y2='112.852' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%237239f4'/%3E%3Cstop offset='1' stop-color='%23f7aef8'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_3571' data-name='Group 3571' transform='translate(-2471.872 -356.546)'%3E%3Cpath id='Path_10339' data-name='Path 10339' d='M2477.235,370.293a6.282,6.282,0,0,0,12.565,0h-5.287a1,1,0,0,1-.995-.995V364.01h0A6.283,6.283,0,0,0,2477.235,370.293Z' fill='none'/%3E%3Cpath id='Path_10340' data-name='Path 10340' d='M2484.513,370.293h5.287a6.283,6.283,0,0,0-6.282-6.283V369.3A1,1,0,0,0,2484.513,370.293Z' fill='%237239f4'/%3E%3Cpath id='Path_10341' data-name='Path 10341' d='M2498.537,356.546h-14.024a1,1,0,0,0-.995.995v1.106a11.646,11.646,0,0,1,11.645,11.646h3.374a1,1,0,0,0,.995-.995V357.541A1,1,0,0,0,2498.537,356.546Z' fill='%237239f4'/%3E%3Cpath id='Path_10342' data-name='Path 10342' d='M2483.518,376.575a6.283,6.283,0,1,1,0-12.565h0v-5.363a11.646,11.646,0,1,0,11.645,11.646H2489.8A6.282,6.282,0,0,1,2483.518,376.575Z' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_10343' data-name='Path 10343' d='M2483.518,358.647v5.363a6.283,6.283,0,0,1,6.282,6.283h5.363a11.646,11.646,0,0,0-11.645-11.646Z' fill='%235433ff' style='mix-blend-mode: hue;isolation: isolate'/%3E%3Cpath id='Path_10344' data-name='Path 10344' d='M2483.518,358.647v5.363a6.283,6.283,0,0,1,6.282,6.283h5.363a11.646,11.646,0,0,0-11.645-11.646Z' fill='url(%23linear-gradient-2)'/%3E%3C/g%3E%3C/svg%3E ");}
.ico6 {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32.79' height='24.917' viewBox='0 0 32.79 24.917'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient-05' y1='0.5' x2='1.106' y2='0.5' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%234affff'/%3E%3Cstop offset='1' stop-color='%234ecdc4'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2-05' x1='1.275' y1='0.086' x2='0.23' y2='0.644' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%237239f4'/%3E%3Cstop offset='1' stop-color='%23f7aef8'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_3572' data-name='Group 3572' transform='translate(-2469.307 -404.519)'%3E%3Cpath id='Path_10345' data-name='Path 10345' d='M2480.1,414.043l2.11-3.655h-7.406l-5.5,9.524,5.5,9.524h11l3.388-5.869H2485.6Z' fill='url(%23linear-gradient-05)'/%3E%3Cpath id='Path_10346' data-name='Path 10346' d='M2502.1,414.043l-5.5-9.524h-11l-3.388,5.869h3.591l5.5,9.524-2.11,3.655h7.406Z' fill='%237239f4'/%3E%3Cpath id='Path_10347' data-name='Path 10347' d='M2485.8,410.388h-3.591l-2.11,3.655,5.5,9.524h3.591l2.11-3.655Z' fill='url(%23linear-gradient-2-05)'/%3E%3C/g%3E%3C/svg%3E");}
.ico1,.ico2,.ico3,.ico4,.ico5,.ico6 {width: 16px;height: 16px;background-size:16px;margin-right:10px;margin-top: 6px;}
.prod_g h2 {margin: 30px 30px 8px;color: #808080;}
.close {position: absolute;right:15px;top:15px;}
.menu {transition:.3s}

@media only screen and (max-width:1010px) {
  .m_nav{padding: 6px 12px 4px;background:hsla(0,0%,100%,0.2);border-radius:20px;}
  .tpan > div {margin-top:15px}
  #mnav {display:block;display:flex}
  #mnav svg {fill:#fff;width: 16px;height: 16px;}
    .wlogo svg {max-width:130px}
    .grids > div:first-child {border-right:0}
    .grids > div:last-child {border-left:0}
    .grids > div:nth-child(3) {border-right:0;width:0}
    #wnav {display:none}
    .sec1 {display:block}
    .sec1 .t_slide {width:100%}
    .sec1 > .sec_right {display:none}
    .hmg .t_slide h1 {font-size:2.5rem;line-height:3rem;letter-spacing:0}
    .wbody:before {border-radius:0}
    .navigation {display:none}
    .hmg .wback {height:150px}
    .w {display:none}
    .cback:after {min-height:500px;}
    section:before,section:after {border-radius:0!important}
    .sec1 {height:auto;margin-bottom:50px;padding-bottom: 20px;}
    h2 {font-size:14px}
    .hmg .h2 {width:auto;margin-top:20px;margin:20px 0}
    .h2:after {content:none}
    .shape > div {padding: 20px 10px 0px;}
    .grid_svg {display:flex;flex-direction:row;flex-wrap:wrap;margin:0 auto;padding:0;gap:0px}
    .grid_svg > div {width:50%;justify-content:center;margin-bottom: 10px;}
    .grid_svg a {display:flex;flex-direction: column-reverse;justify-content: center;align-items: center;}
    .grid_svg > div svg {max-width: 140px;height: 145px;margin:0;}
    .hmg .grid_svg > div span {position:relative;margin:0;padding:0;left:unset;right:unset;bottom:unset;top:unset}
    .ident {margin-top:20px;padding-bottom:70px;height:auto;}
    .ident > .flx_r {flex-direction:column;}
    .ident .block_left, .ident .block_right {width:100%;margin:0;padding: 0;}
    .ident .block_right {margin-top:10px}
    .ident span {padding-top:5px;color:#fff}
    .ident .icn {height:45px}
    .ident iframe {position:absolute;top:0}
    .ident .block_left {position:relative;padding-top:60%}
    .sec5:before  {height:100px;margin:0}
    .blocks_wrap {flex-direction:column}
    .arc {min-width:200px;margin-right:30px;height:360px}
    .arc_img {background-position: center bottom 6px;}
    .scroll_it {overflow-x:auto;overflow-y:hidden}
    .blocks_wrap > div {width:100%;margin:0;padding:0}
    .blocks_wrap h3 {padding:20px 20px 0}
    .blocks_wrap h4 {padding:10px 20px 30px}
    .wc_bk {display:none}
    .wc {margin: 0 0 30px;background:#c8d1ee;text-align: center;padding-top: 30px;border-top-right-radius: 50px;border-bottom-left-radius: 50px;}
    .wc img {max-width:100%;}
    .blocks_wrap {padding-top:100px}
    .wb {margin:50px 0 0px;padding:20px;margin-top:50px;padding-top:50px;border-radius:0;}
    .wblog,.b_right > div {flex-direction:column;}
    .b_left,.b_right {width:100%;margin-bottom:30px}
    .b_right .b_image {padding-top: 60%; margin-top: 20px;}
    .card_des {flex-direction:column;}
    .card_des span {max-width:100%;margin-bottom:20px;}
    .card_des .orderCard {margin:0}
    footer > div {border-radius:0;padding:0 20px;background: #fff;}
    .map {margin-top:20px;}
    .map iframe {max-width:100%}
    .footer_bot {grid-template-columns:1fr 1fr;grid-row-gap: 30px;margin-bottom:30px;}
    footer:before,footer > div:before,footer > div:after {content:"";display:table;clear:both}
    footer:after {top:0}
    .subscribe {margin:0 0 20px;display:none}
    .iset svg {width:50px}
    footer > div {margin:20px 20px 0;display:table;;border-top-right-radius:20px;border-top-left-radius:20px}
    footer .about {margin:0;max-width:200px}
    }
}